storage-service.request-signature-version=AWS4-HMAC-SHA256
s3service.s3-endpoint=static.karmayogiprod.nic.in
s3service.disable-dns-buckets=true
s3service.https-only=true
s3service.default-bucket-location=us-east-1
uploads.stream-retry-buffer-size=2147483646
